/* set background */
html { 
  background-color: #111111;
}

h1 {
  font-family: 'Oswald';
  font-size: 300%;
  color: white;
  margin-left: 2.5%;
  letter-spacing: 3px;
}

#logo {
  position: absolute;
  right: 0.5cm;
  top: 0.5cm;
}

.headline {
  font-family: 'courier', sans-serif;
  font-size: 400%;
  color: white;
  margin: 2% 0% 0% 12.5%;
  font-weight: bold;
}

.search_result {
  font-family: 'Oswald';
  font-size: 200%;
  color: white;
  margin: 0% 0% 0% 12.5%;
  letter-spacing: 3px;
}

.section {
  font-family: 'Oswald';
  -webkit-box-shadow: 5px 4px 21px 5px rgba(0,0,0,0.80);
  -moz-box-shadow: 5px 4px 21px 5px rgba(0,0,0,0.80);
  box-shadow: 5px 4px 21px 5px rgba(0,0,0,0.80);
  position: absolute;
}

#trend {
  width: 40%;
  height: 50%;
  left: 12.5%;
  top: 20%;
  display: block;
}

#language {
  width: 30%;
  height: 40%;
  left: 55%;
  top: 9%;
  display: block;
}

#star {
  width: 30%;
  height: 37.5%;
  left: 55%;
  top: 56%;
  height: 40%;
  display: block;
}

#section_header {
  margin-top: -50px;
  font-weight: normal;
}

#recommendation {
  width: 20%;
  height: 20%;
  left: 22%;
  top: 75%;
  display: block;
  position: absolute;
}

#h_recommendation {
  margin-left: 12.5%;
  margin-top: 6%;
  font-size: 450%;
  font-weight: normal;
  top: 65%;
  position:absolute;
}

.reg_text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 240%;
  color: white;
  margin: 0;
}

.input_text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 200%;
  color: white;
  margin: 0;
  padding-top: 26cm;
  padding-bottom: 12cm;
}

#scroll_button {
  padding-top:1cm;
}

#left {
  position: absolute;
  right: 21cm;
  top: 11.5cm;
}

#right {
  position: absolute;
  right: 17cm;
  top: 11.5cm;
}

#pie_option {
  font-family: 'Oswald';
  font-size: 300%;
  font-weight: normal;
  color: white;
  position: absolute;
  top: 10.7cm;
  right: 18.95cm;
}

/* modify input elements */
input{
    text-align:center;
}

/* modify text input */
textarea{
	background: rgba(256, 256, 256, 0.2);
	text-align:center;
	line-height: 50px; 
	height: 54px;
	width: 800px;
}

::-webkit-input-placeholder {
   text-align: center;
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
   color: white;
}

:-ms-input-placeholder {  
   text-align: center; 
   color: white;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
    animation-play-state: paused;
}

.animate-flicker:hover {
  animation-play-state: running;
}

/* blinking cursor */
.blinking-cursor {
  font-weight: 100;
  font-size: 80px;
  color: white;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

