.axis path,
.axis line {
    fill: none;
    shape-rendering: crispEdges;
}

.line2 {
    fill: none;
    stroke: darkred;
    stroke-width: 3px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 3px;
}